* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;

}

div {
color: black;
}
 

p ~ a {
    font-weight: bold;
    color: red;
}

.display-block{
    display: block;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
}

.display-inline{
    display: inline;
    background-color: green;
    border: 1px solid black;
}

.display-inline-block{
    display: inline-block;
    background-color: pink;
    border: 1px solid black;
    margin: 30px;
}